[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
drf-yasg = "*"
django-cors-headers = "*"
django-allauth = "*"
django-crispy-forms = "*"
dj-rest-auth = "*"

[requires]
python_version = "3.8"
